html, body{
	font-family: Arial, sans-serif;
	mardin: 0;
}

header{
		background-color: cyan;
		padding: 40px; /*padding: top - right - bottom - left; */
		text-align: center;
}

h1{
	font-size: 90px;
	color: white;
}

head img{
	border-radius: 150px;
	width: 400px;
	border: 20px solid #cc0000;
}

.content{

}
#characteristic{
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
#characteristic td, #characteristic th{
	border: #ddd;
	border-style: dashed solid;
	padding: 8px;
}

#characteristic tr: nth-chid(even){background-color: #f2f2f2;}
#characteristic tr: hover {background-color: #ddd;}

#characteristic th {
	padding: 12px;
	text-align: left;
	background-color: #4caf50;
	color: white;
}

